openapi: 3.2.0
info:
  title: fastFOREX.io Crypto API
  version: 2.3.2
  description: Foreign & cryptocurrency exchange rate API
  termsOfService: https://www.fastforex.io/terms-of-sale
  contact:
    email: support@fastforex.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.fastforex.io
  description: Production
- url: https://api.beta.fastforex.io
  description: Beta
security:
- api_key: []
- apiKeyHeader: []
- bearerAuth: []
- basicAuth: []
tags:
- name: Crypto
  description: Digital currencies, pairs & prices
paths:
  /crypto/currencies:
    get:
      tags:
      - Crypto
      description: Fetch a list of 500+ supported cryptocurrencies
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ms:
                    $ref: '#/components/schemas/ResponseTime'
                  currencies:
                    type: object
                    minProperties: 200
                    additionalProperties:
                      type: string
              example:
                currencies:
                  1INCH: 1inch Network
                  AAVE: Aave
                  ACA: Acala Token
                  ACH: Alchemy Pay
                  ADA: Cardano
                  AERGO: Aergo
                ms: 8
        '400':
          description: Bad Request
        '401':
          description: Not Authorized
        '429':
          description: Rate limit exceeded
      summary: Get crypto currencies
      x-summary-source: derived
      operationId: getCryptoCurrencies
      x-operation-id-source: derived
  /crypto/pairs:
    get:
      tags:
      - Crypto
      description: Fetch a list of 400+ supported cryptocurrency pairs
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ms:
                    $ref: '#/components/schemas/ResponseTime'
                  pairs:
                    type: object
                    minProperties: 400
                    additionalProperties:
                      $ref: '#/components/schemas/AnyCurrencyPair'
              example:
                pairs:
                  1INCH/BTC:
                    base: 1INCH
                    quote: BTC
                  BTC/USD:
                    base: BTC
                    quote: USD
                  ETH/BTC:
                    base: ETH
                    quote: BTC
                ms: 8
        '400':
          description: Bad Request
        '401':
          description: Not Authorized
        '429':
          description: Rate limit exceeded
      summary: Get crypto pairs
      x-summary-source: derived
      operationId: getCryptoPairs
      x-operation-id-source: derived
  /crypto/fetch-prices:
    get:
      tags:
      - Crypto
      description: Fetch one or more (up to 10) real-time prices for supported cryptocurrency pairs
      parameters:
      - name: pairs
        in: query
        description: Up to 10 target currency pairs, comma separated in XXX/YYY format
        required: true
        schema:
          $ref: '#/components/schemas/CryptoCurrencyPairList'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ms:
                    $ref: '#/components/schemas/ResponseTime'
                  prices:
                    type: object
                    minProperties: 1
                    additionalProperties:
                      type: number
                      format: float
              example:
                prices:
                  BTC/USD: 20624.21
                  ETH/BTC: 0.075316
                ms: 8
        '400':
          description: Bad Request
        '401':
          description: Not Authorized
        '403':
          description: Forbidden
        '429':
          description: Rate limit exceeded
      summary: Get crypto fetch prices
      x-summary-source: derived
      operationId: getCryptoFetchPrices
      x-operation-id-source: derived
components:
  schemas:
    AnyCurrencyPair:
      type: object
      description: Defines a currency trading pair.
      properties:
        base:
          type: string
          pattern: '[A-Z0-9]{3,6}'
          description: Base currency in the pair
        quote:
          type: string
          pattern: '[A-Z0-9]{3,6}'
          description: Quote currency in the pair
      example:
        base: USD
        quote: BTC
    ResponseTime:
      type: number
      format: int32
      description: Server response time in milliseconds
    CryptoCurrencyPairList:
      type: string
      pattern: '[A-Z0-9]{3,6}/[A-Z0-9]{3,6}(,[A-Z0-9]{3,6}/[A-Z0-9]{3,6})*'
      description: A comma-separated list of crypto pairs
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: query
    apiKeyHeader:
      type: apiKey
      name: X-API-KEY
      in: header
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: api_key
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  description: Find out more about fastFOREX.io
  url: https://www.fastforex.io
x-samples-languages:
- curl
- node
- ruby
- javascript
- python
- php
- go
- java
- swift
x-proxy-enabled: false
